html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 16px;
    background: #666;
}

a {
    color: rgba(0,0,0, 0.75);
}

a:hover, a:focus, a:active {
    color: #0cc876;
}

.btn-group-justified {
  display: flex;
  width: 100%;
}
.btn-group-justified .btn, .btn-group-justified .btn-group {
    flex: 1;
}
.btn-group-justified .btn .btn, .btn-group-justified .btn-group .btn {
    width: 100%;
}
.btn-group-justified .btn .dropdown-menu, .btn-group-justified .btn-group .dropdown-menu {
    left: auto;
}


header {
    padding: 90px 0 45px 0;
    color: #00ff90;
    background: rgba(4, 44, 75, 0.9);
}
.nav-button {
    border-radius: 10px 5px 10px 5px;
}

body > * {
    z-index: 1;
}

body > canvas {
    z-index: -1;
}

.back-to-top {

    display: inline-block;
    opacity: 0.0;

    pointer-events: none;

    -webkit-transition: transform 600ms ease-out, opacity 300ms ease-out;
    -moz-transition: transform 600ms ease-out, opacity 300ms ease-out;
    -o-transition: transform 600ms ease-out, opacity 300ms ease-out;
    transition: transform 600ms ease-out, opacity 300ms ease-out;

    transform: translate3d(0, -15px, 0);

    position: fixed;
    top: 0px;
    right: 15px;
    width: 50px;
    height: 50px;
    font-size: 25px;

    background: rgba(0,0,0, 0.5);

    color: rgba(0 ,255 ,144, 0.75);
    border-radius: 5px 5px 25px 25px;
    padding-top: 5px;
    text-align: center;

    box-shadow: 0px 0px 10px rgba(255,255,255, 0.5);

    z-index: 9999;
}
.back-to-top:hover{
    color: rgba(0 ,255 ,144, 1.0);
}
.back-to-top:focus {
    color: rgba(0 ,255 ,144, 0.75);
}
.back-to-top:active {
    background: #000;
    color: rgba(0 ,255 ,144, 0.75);
}

.profile-image {
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 150px;
    overflow: hidden;
    background: url(../resources/images/profile.jpg);
    background-repeat: no-repeat;
    background-size: 220px;
    background-position: right -29px bottom -70px;
    border: 10px solid rgba(255,255,255, 0.5);
    margin-top: 16px;
}
.profile-list {
    margin-top: 0px;
    margin-left: 15px;
}


h1 {
    font-size: 400%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 9px;
    margin-top: 0px;
    margin-bottom: 15px;
    color: rgba(255, 255, 255, 1.0);
}

.initial {}

h2 {
    font-size: 175%;
    opacity: 0.9;
    text-transform: lowercase;
    letter-spacing: 7px;
}

h3 {
    text-transform: uppercase;
    letter-spacing: 7.2px;
    margin-bottom: 30px;
    font-size: 250%;
    color: #00ff90;
}

.section-paragraph {
    margin-left: auto;
    margin-right: auto;
    font-size: 125%;
    color: rgba(0,0,0, 0.6);
}
.section-content {
    margin-top: 30px;
}

h4 {
    color: #337ab7;
    color: #71bdff;
}

p {
    max-width: 45em;
}

ul.row {
    list-style: none;
}
ul.row > li {}

section {
    padding: 45px 0 105px 0;
    margin-top: 0px;
    margin-bottom: 0px;
    background: rgba(255,255,255, 0.95);
    color: #333;
}

section:nth-child(even) {
    background: rgba(0, 0, 0, 0.7);
    color: rgba(255,255,255, 0.9);
}
section:nth-child(odd) h3 {
    color: #444;
    color: rgba(4, 44, 75, 0.9);
}
section:nth-child(odd) a {
    color: rgba(0,0,0, 0.9);
}

section ul {
    margin: 0px;
    padding: 0px;
}

section ul li {
    margin-bottom: 15px;
}

section.first-section {
    padding-bottom: 135px;
}

.emph {
    color: #0cc876;
}

.contact {

    display: inline-block;
    width: 100px;
    height: 1px;

    overflow: visible;
    position: relative;

    margin-left: 15px;
    margin-right: 15px;
    margin-top: 25px;

    border-bottom: 1px solid rgba(4, 44, 75, 0.25);
    box-shadow: 0px 1px 2px rgba(4, 44, 75, 0.25);

    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    transform: translate3d(0, 50px,0);
}
.contact:hover , .contact:active, .contact:focus {
    border-bottom: 1px solid #fff;
    box-shadow: 0px 1px 2px rgba(0,0,0, 0.0);
}

.contact-icon-holder {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    overflow: hidden;
}
.fa.contact-icon {
    position: absolute;
    font-size: 50px;
    left: 50%;
    margin-left: -25px;

    color: rgba(4, 44, 75, 0.9);

    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    transform: translate3d(0, 12px,0);
}
.contact:hover .contact-icon, .contact:active .contact-icon, .contact:focus .contact-icon {
    transform: translate3d(0,0,0);
    color: rgba(51,122,183, 1.0);
}

.contact-text {
    pointer-events:none;
    opacity: 0;
    font-size: 18px;
    position: absolute;
    left: -100px;
    right: -100px;
    top: 0;
    padding-top: 25px;
    text-align: center;

    color: #337ab7;

    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;

    transform: translate3d(0,-30px,0);
}
.contact:hover .contact-text, .contact:active .contact-text, .contact:focus .contact-text {
    opacity: 1;
    transform: translate3d(0,-15px,0);
}

.experience-list {
    list-style: none;
}

.experience {
    margin-bottom: 30px;
}
.experience:last-child {
    margin-bottom: 0px;
}
.experience-company {
    margin-top: 4px;
    font-size: 125%;
    display: block;
    text-align: right;
}
.experience-dates {
    display: block;
    color: rgba(0,0,0, 0.5);
    text-align: right;
}
.experience-title {
    font-size: 145%;
    display: block;
    color: #337ab7;
    text-align: left;
}
.experience-description {
    display: block;
    color: rgba(0,0,0, 0.75);
    text-align: left;
}

section:nth-child(even) .experience-title {
    color: #71bdff;
}
section:nth-child(even) .experience-dates {
    color: rgba(255,255,255, 0.5);
}
section:nth-child(even) .experience-description {
    color: rgba(255,255,255, 0.75);
}

section.last-section {
    padding-bottom: 120px;
}

.projects {
    font-size: 125%;
}

.project {
    display: block;
    background: #fff;
    border-radius: 90px 15px 90px 15px;
    overflow: hidden;
    margin-bottom: 15px;
}
a.project {
    text-decoration: none !important;
}
.project-title-wrapper {
    position: relative;
    display: table;
    width: 100%;
    overflow: hidden;
    height: 200px;
    border-radius: 90px 15px 0px 0px;
}

.project-title {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;

    -webkit-filter: grayscale(1) blur(0px) brightness(0.2);
    filter: grayscale(1) blur(0px) brightness(0.2);
}

.project-title-details {

    display: table-cell;
    z-index: 1;
    position: relative;
    width: 100%;
    vertical-align: middle;
    text-align: center;

    text-transform: uppercase;
    letter-spacing: 4px;
    padding-left: 45px;
    padding-right: 45px;
    font-size: 135%;
    color: #71bdff;
    font-weight: bold;

    opacity: 1.0;

    -webkit-transition: opacity 300ms ease-in-out;
    -moz-transition: opacity 300ms ease-in-out;
    -o-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
}

.project:hover .project-title-details {

    color: #0b3b65;

    -webkit-transition: opacity 450ms ease;
    -moz-transition: opacity 450ms ease;
    -o-transition: opacity 450ms ease;
    transition: opacity 450ms ease;

    -webkit-transition-delay: 120ms;
    transition-delay: 120ms;
}

.project:hover .project-title {
    -webkit-filter: grayscale(0.3) blur(0px) brightness(0.9);
    filter: grayscale(0.0) blur(0px) brightness(0.9);
}
.project:hover .project-title-details {
    opacity: 0.0;
}

.project-title-azapd {
    background: url(../resources/images/azapd.jpg);
    background-size: 100%;
}
.project-title-grasp-theory {
    background: url(../resources/images/grasptheory.jpg);
    background-size: 100%;
}
.project-title-terrain {
    background: url(../resources/images/terrain.jpg);
    background-size: 100%;
}
.project-title-radial {
    background: url(../resources/images/radial.jpg);
    background-size: 100%;
}

.project-description {
    display: block;
    padding: 15px 30px;
    text-align: left;
    font-size: 16px;
    height: 145px;
    background: #b8b8b8;
}

.project:hover .project-title-details {
    text-decoration: none !important;
}
.project:hover .project-description {
    color: #222;
    background: #ddd;
}

.nav-container a.btn {
    padding-left: 30px;
    padding-right: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.nav-container {
    padding-top: 15px;
    padding-bottom: 15px;
    background: #ccc;
}

.skill-set-group {
    margin-top: 15px;
    margin-bottom: 45px;
}

.skill-set-group-row {

    opacity: 0.0;

    -webkit-transition: all 600ms ease-out;
    -moz-transition: all 600ms ease-out;
    -o-transition: all 600ms ease-out;
    transition: all 600ms ease-out;
}
.skill-set-group-row.show-groups{
    opacity: 1.0;
}

.skill-set-group h4 {
    text-transform: uppercase;
    color: #fff;
    font-size: 135%;
}
.skill-set-groups-frontend {
    text-align: left;
}
.skill-set-groups-backend {
    text-align: right;
}

.skills-list {
    list-style: none;
    display: block;
}
.skills-list-skill {
    position: relative;
}
.skills-list-skill-bar-wrapper {
    display: inline-block;
    padding: 0px;
    border-radius: 0px 10px 10px 0px;
    background: rgba(5, 195, 113, 0.3);
    width: 100%;
    height: 30px;
}
.skills-list-skill-bar {
    display: inline-block;
    height: 30px;
    border-radius: 0px 10px 10px 0px;
    background: #05c371;
}
.skills-list-skill .title {
    display: inline-block;
    text-align: right;
    padding-right: 15px;
}

.skill-set-groups-backend .skill-set-group {
    text-align: right;
}
.skill-set-groups-backend .skill-set-group h4 {
    padding-left: 0px;
    color: #00ff90;
    color: #fff;
}
.skill-set-groups-backend .skills-list-skill-bar {
    border-radius: 10px 0px 0px 10px;
    background: #337ab7;
}
.skill-set-groups-backend .skills-list-skill-bar-wrapper {
    border-radius: 10px 0px 0px 10px;
    background: rgba(51, 122, 183, 0.3);
}
.skill-set-groups-backend .skills-list-skill .title {
    text-align: left;
    padding-left: 15px;
}

.public-presentations {
    list-style: none;
    position: relative;
}
.public-presentation {
    position: relative;
    margin-bottom: 45px;
}
.public-presentation-icon {
    position: absolute;
    top: 3px;
    left: 0px;
}
.public-presentation-icon i {
    font-size: 50px;
    color: #71bdff;
}
.public-presentation-icon i.fa-bullhorn {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.public-presentation-date-location {
    padding-left: 65px;
    padding-top: 5;
    color: rgba(255, 255, 255, 0.5);
    text-align: left;
    display: block;
    margin-bottom: 15px;
}
.public-presentation-title {
    padding-left: 65px;
    display: block;
    text-align: left;
    font-size: 145%;
    color: #71bdff;
}
.public-presentation-description {
    display: block;
    text-align: left;
}
.public-presentation .links li {
    margin-left: 20px;
    margin-bottom: 5px;
    text-align: left;
}
.public-presentation .links li a {
    color: rgba(5, 195, 113, 0.8);
}

footer {

    background: rgba(4, 44, 75, 0.95);
    padding: 60px 0px 90px 0px;

    font-size: 400%;
    letter-spacing: 4px;
    color: rgba(51,122,183, 1.0);
}

footer a {
    color: rgba(51,122,183, 1.0);

}
footer a:hover, footer a:focus {
    color: rgba(255, 255, 255, 0.8);
}
footer a:active {
    color: rgba(255, 255, 255, 1.0);
}

@media (max-width: 1200px) {
    .nav-button {
        width: 48%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 5px;
    }
    .nav-button section:nth-child(even){
        margin-left: 1%;
    }
    .nav-button section:nth-child(even){
        margin-right: 1%;
    }
    .project-title-details {
        font-size: 125%;
    }
}

@media (max-width: 992px) {

    .experience-dates, .experience-company {
        text-align: left;
    }

    .project {
        border-radius: 45px 10px 45px 10px;
        overflow: hidden;
    }
    .project-description {
        height: auto;
        padding:15px;
    }
    .project-title-wrapper {
        height: auto;
        border-radius: 45px 5px 0px 0px;
    }
    .project-title-details {
        padding: 60px 90px;
        font-size: 125%;
    }

    .skills-list-skill {
        margin-bottom: 0px;
    }
    .skill-set-groups-frontend .skills-list-skill .title, .skill-set-groups-frontend h4  {
        text-align: left;
    }
    .skill-set-groups-backend .skills-list-skill .title, .skill-set-groups-backend h4  {
        text-align: right;
    }
}

@media (max-width: 768px) {

    header {
        padding: 45px 0 15px 0;
    }
    h1 {
        font-size: 300%;
    }
    h2 {
        font-size: 150%;
        margin-top: 15px;
    }
    h3 {
        font-size: 150%;
    }

    .back-to-top.back-to-top-active {
        opacity: 1.0;
        pointer-events: auto;
        transform: translate3d(0, 15px, 0);
    }

    .nav-button {
        width: 100%;
        display: block;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .profile-image {
        margin-top: 0px;
        margin-bottom: 15px;
    }

    .text-center-sm {
        text-align: center;
    }
    .section-paragraph {
        font-size: 14px;
    }
    .section-content {
        margin-top: 20px;
    }

    section.last-section {
        padding-bottom: 120px;
    }

    .contact {
        width: 90px;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 15px;
    }
    .contact-text {
        display: none;
    }
    .disply-block-sm {
        display: block;
    }
    .text-left-sm {
        text-align: left;
    }

    .project-title-details {
        padding: 45px 45px;
        font-size: 100%;
    }

    .public-presentation-title {
        font-size: 125%;
        padding-left: 50px;
    }
    .public-presentation-date-location {
        padding-left: 50px;
        font-size: 85%;
    }
    .public-presentation-icon {
        top: 5px;
    }
    .public-presentation-icon i {
        font-size: 40px;
    }

    .skill-set-group h4 {
        font-size: 125%;
    }
    .skills-list-skill-bar, .skills-list-skill-bar-wrapper {
        height: 20px;
    }
    .skills-list-skill .title {
        font-size: 75%;
    }

    footer {
        font-size: 200%;
        padding-top: 15px;
        padding-bottom: 25px;
    }
}